{% extends 'general/forum_base.html' %}
{% block "content" %}
<div>
</br>
The Pomona College Financial Aid Student Forum is a response to the lack of resources available to help students navigate their financial aid situations and work with the Office of Financial Aid (OFA). In the process of creating the forum, we met with the following individuals and groups: Christina Tong (ASPC President); Olivia Dure (ASPC Executive Vice President); Quest; Posse; IDEAS; Latinx Alliance; OBSA; AAMP; ISMP; and SOCA.
</br>
</br>
To decide what features to include in the forum, Gloria Liou (ASPC Product Manager) spoke with the above individuals and groups about their product ideas. These ideas were gathered into a document shared by members of the ASPC Digital Media Programming Group and the above individuals and groups. From the meetings, follow-up discussions, and the shared document, decisions were made about what tags to include for searching and writing posts, what prompts to provide for students, and what resources to include in the product. All other product decisions were also made through this process.
<br>
</div>
{% endblock %}