{% extends 'general/forum_base.html' %}

{% block "metadesc" %}
	Add a tag.
{% endblock %}
{% block "ogdesc" %}
	Add a tag.
{% endblock %}

{% block "title" %}Add a tag{% endblock %}
{% block "page_title" %}Add a tag{% endblock %}

{% block "questions_breadcrumbs" %}
	<li>
		<a href="{% url "search_questions" %}">Browse and Ask questions</a>
	</li>
	<li>Ask a question</li>
{% endblock %}

{% block "content" %}
<div id="new_review_form">
    <div style="margin: 20px 0;"></div>
    <form action="{{ action }}" method="POST">
		{% csrf_token %}
        {% for field in form %}
            &nbsp&nbsp&nbsp&nbsp{{ field.label }} <br /><br />
            &nbsp&nbsp&nbsp&nbsp{{ field }}
            &nbsp&nbsp&nbsp&nbsp{{ field.errors }} <br /><br /><br />
        {% endfor %}
        <input id="submit" class="mh-search-button" type="submit" value="Submit &rarr;" />
	</form>
    <div style="margin: 20px 0;"></div>
</div>
{% endblock %}